.frame-type-tx_plate_ces_infoblocks.frame-layout-flipcards .ac-card.flipcard {
    background-color: transparent;
    width: 100%;
    height: 300px;

    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.frame-type-tx_plate_ces_infoblocks.frame-layout-flipcards .ac-card.flipcard .text-inner-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.frame-type-tx_plate_ces_infoblocks.frame-layout-flipcards .ac-card.flipcard:hover .text-inner-wrap {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.ib-flip-card-front, .ib-flip-card-back {
    position: absolute;
    border-radius: var(--plce-ib-fc-border-radius,0.25rem);
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.ib-flip-card-front {
    background-color: white;
    color: black;
}

/* Style the back side */
.ib-flip-card-back {
    background-color: var(--bs-primary, dodgerblue);
    color: white;
    transform: rotateY(180deg);
}
.ib-flip-card-front .btn,
.ib-flip-card-back .btn{
    margin-top: 0px;
    --bs-btn-padding-x:var(--bs-gap-medium, 20px);
}
.ib-flip-card-back{
    --bs-icon-color: var(--bs-white, #fff) !important;
}