<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
>
    <f:layout name="Default" />

    <f:section name="LayoutVars">
        <f:variable name="wrapperTag" value="section"/>
    </f:section>

    <f:section name="Main">
        <f:asset.script identifier="atomic-equalize" type="module" src="{atomicAssets}Webcomponents/atomic-equalize.js" />
        <f:asset.css identifier="ac.grid.nums" href="{atomicAssets}Styles/components/ac.grid.nums.min.css" />
        <f:variable name="columns" value="3"/>

        <atomic-equalize selector=".atomic-card" breakpoints="980::on">
            <f:switch expression="{flexform.settings.columns}">
                <f:case value="50-50">
                    <div class="@container">
                        <div class="plate_ces-page-teaser ac-grid-n::cols-3 a-gap::small">
                            <f:switch expression="{flexform.settings.query}">
                                <f:defaultCase><f:render section="default" arguments="{_all}"/></f:defaultCase>
                            </f:switch>
                        </div>
                    </div>
                </f:case>
                <f:defaultCase>
                    <div class="@container">
                        <div class="plate_ces-page-teaser ac-grid-n::cols-3 a-gap::small">
                            <f:switch expression="{flexform.settings.query}">
                                <f:defaultCase><f:render section="default" arguments="{_all}"/></f:defaultCase>
                            </f:switch>
                        </div>
                    </div>
                </f:defaultCase>
            </f:switch>
        </atomic-equalize>
    </f:section>

    <f:section name="default">
        <f:for each="{teaserPages}" as="teaser">
            <div class="grid-entry">
                <f:switch expression="{flexform.settings.layout}">
                    <f:case value="TeaserHorizontal">
                        <f:variable name="teaserData" value="{
                            title: teaser.title,
                            description: teaser.description,
                            images: teaser.media,
                            link:'{f:uri.page(pageUid:teaser.uid)}',
                            assetPath: plateCesPathAssets
                        }"/>
                        <f:render partial="Molecules/Cards/Horizintal/Horizontal" arguments="{item:teaserData}"/>
                    </f:case>
                    <f:defaultCase>
                        <f:if condition="!{teaser.media} || {flexform.settings.hideImage}">
                            <div class="vars-inverted">
                                <f:variable name="teaserData" value="{
                                title: teaser.title,
                                description: teaser.description,
                                images: teaser.media,
                                link:'{f:uri.page(pageUid:teaser.uid)}',
                                assetPath: plateCesPathAssets
                                     }"/>
                                <f:render partial="Molecules/Cards/Block/BlockNoImage" arguments="{item:teaserData}"/>
                            </div>
                        </f:if>
                        <f:if condition="{teaser.media} && !{flexform.settings.hideImage}">
                            <div class="vars-inverted">
                                <f:variable name="teaserData" value="{
                                title: teaser.title,
                                description: teaser.description,
                                images: teaser.media,
                                link:'{f:uri.page(pageUid:teaser.uid)}',
                                assetPath: plateCesPathAssets
                                     }"/>
                                <f:render partial="Molecules/Cards/Block/Block" arguments="{item:teaserData}"/>
                            </div>
                        </f:if>
                    </f:defaultCase>
                </f:switch>
            </div>
        </f:for>
    </f:section>
</fluid>

