atomic-slider{}
atomic-slider.mh100{
    --atomic-overlay-min-height-small: 100vh;
}
atomic-slider.mh75{
    --atomic-overlay-min-height-small: 75vh;
}
atomic-slider.mh85{
    --atomic-overlay-min-height-small: 85vh;
}
@media (min-width: 768px) {
    atomic-slider.th100{
        --atomic-overlay-min-height-medium: 100vh;
    }
    atomic-slider.th75{
        --atomic-overlay-min-height-medium: 75vh;
    }
    atomic-slider.th85{
        --atomic-overlay-min-height-medium: 85vh;
    }
}
@media (min-width: 992px) {
    atomic-slider.th100{
        --atomic-overlay-min-height-large: 100vh;
        --atomic-overlay-min-height-xlarge: 100vh;
    }
    atomic-slider.th75{
        --atomic-overlay-min-height-large: 75vh;
        --atomic-overlay-min-height-xlarge: 75vh;
    }
    atomic-slider.th85{
        --atomic-overlay-min-height-large: 85vh;
        --atomic-overlay-min-height-xlarge: 85vh;
    }
}

/* prevent layout shifting*/
atomic-overlay:not(:defined){
    display:none;
}
atomic-slider:not(:defined),
atomic-slider.fullHeight:not(:defined){
    height: 70vh;
}
@media (min-width: 1200px) {
    atomic-slider:not(:defined),
    atomic-slider.fullHeight:not(:defined){
        height: 100vh;
    }
}

.frame-type-tx_plate_ces_slider atomic-overlay .ah-richtext *{
    color: var(--plces-slider-overlay-txt-color, white);
}