<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/FrontendEditing/ViewHelpers"
>
    <f:if condition="!{item}">
        <f:variable name="item" value="{
            title:'Leer',
            bodytext:'Leer',
            textLayout: 'default',
            overlayShadow: 0,
            text-frame-margin: '2rem',
            textalign-horizontal: 'center',
            textalign-vertical: 'center',
            text-frame-width: '50%',
        }

        "/>
    </f:if>
    <f:if condition="{item.bodytext}">

        <f:if condition="{item.text-frame-margin} !== '0rem'">
            <f:variable name="frameMargin" value="padding-bottom:{item.text-frame-margin};"/>
            <f:variable name="frameMargin" value="{frameMargin} padding-top:{item.text-frame-margin};"/>
        </f:if>
        <f:variable name="textFramneWidth" value="--atomic-overlay--width--large:{item.text-frame-width};"/>
        <div class="frame-class-default--important frame-width-default">
            <f:variable name="feEditConfig" value="{item.feEditConfig}"/>
            <f:if condition="!{feEditConfig}">
                <f:variable name="feEditConfig" value="{table:'tt_content', titleField: 'header', descriptionField:'bodytext'}"/>
            </f:if>

            <atomic-overlay class="a-slide-anim --fade-in" style='{textFramneWidth} {frameMargin} --atomic-overlay--text-halign:{item.textalign-horizontal}; --atomic-overlay--text-valign:{item.textalign-vertical}'>
                <div slot="hover">Beschreibung schließen</div>
                <div style="padding:20px;" class="ah-richtext">
                    <f:if condition="{item.title}">
                        <f:render partial="Header/Header" arguments="{
                                header: item.title,
                                layout: '2',
                                uid: item.uid,
                                positionClass: 'align-left',
                                feEditConfig: '{table:feEditConfig.table,field:feEditConfig.titleField}',
                                additionalClasses: ''}" />
                    </f:if>

                    <core:contentEditable table="{feEditConfig.table}" field="{feEditConfig.descriptionField}" uid="{item.uid}">
                        <f:format.html>{item.bodytext}</f:format.html>
                    </core:contentEditable>
                    <f:if condition="{item.link}">
                        <f:asset.script identifier="atomic-button" type="module" src="{item.atomicAssets}/Webcomponents/atomic-button.js" priority="1"/>
                        <f:if condition="{item.showButton}">
                            <f:then>
                                <atomic-button wide style="margin-top:20px;">
                                    {f:if(condition: '{item.buttonName}', then:'{item.buttonName}',else:'Mehr erfahren')}
                                </atomic-button>
                            </f:then>
                            <f:else>
                                <a href="{item.link}" style="margin-top:10px;" target="{item.linkTarget}">{f:if(condition: '{item.buttonName}', then:'{item.buttonName}',else:'Mehr erfahren')}</a>
                            </f:else>
                        </f:if>
                    </f:if>
                </div>
            </atomic-overlay>
        </div>
    </f:if>
</fluid>