<f:comment>
    {
        iconPath: string,
        format: string (dateformat),
        date: Unixtime
    }
</f:comment>
<f:if condition="!{format}">
    <f:variable name="format" value="d.m.Y"/>
</f:if>
<div class="a-flex -gap-extra-small -align-items-center"><f:image src="{iconPath}Icons/calendar.svg" alt="icon-calendar" title="calendar-icon" width="15"/> <time class="text-shy" datetime="{f:format.date(format:'d-m-Y',date:'{date}')})">{f:format.date(format:'{format}',date:'{date}')}</time></div>