<fluid
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    xmlns:c="http://typo3.org/ns/Pixel3/Customer/ViewHelpers"
>
    <f:comment>
        <!--
            This template accepts the following attributes:
            additionalClasses: string
            style: string (style)
            clickEnlarge: boolean
            treatIdAsReference: boolean
            popUpMaxWidth: string
            popUpMaxHeight: string
            config: json (imageconfig like defaults below)
        -->
    </f:comment>

    <f:if condition="!{clickEnlarge}">
        <f:variable name="clickEnlarge" value="false"/>
    </f:if>
    <f:if condition="!{treatIdAsReference}">
        <f:variable name="treatIdAsReference" value="0"/>
    </f:if>
    <f:if condition="!{popUpMaxWidth}">
        <f:variable name="popUpMaxWidth" value="1600"/>
    </f:if>
    <f:if condition="!{popUpMaxHeight}">
        <f:variable name="popUpMaxHeight" value="950"/>
    </f:if>
    <f:if condition="!{popUpMaxHeight}">
        <f:variable name="popUpMaxHeight" value="950"/>
    </f:if>

    <f:if condition="!{image}">
        <f:variable name="image" value="{item}"/>
    </f:if>

    <f:if condition="!{config}">
        <f:variable name="config" value="{
            300:{w:400,cropVariant:'mobile'},
            400:{w:400,cropVariant:'mobile'},
            500:{w:500,cropVariant:'mobile'},
            600:{w:500,cropVariant:'mobile'},
            1000:{w:950,cropVariant:'default'},
            1200:{w:1200,cropVariant:'default'},
            1400:{w:1400,cropVariant:'default'},
            1600:{w:1600,cropVariant:'default'}
        }"/>
    </f:if>

    <f:if condition="{image}">
        <f:for each="{config}" as="dims" key="breakpoint" iteration="i">
            <f:if condition="{i.isFirst}">
                <f:variable name="defaultSrc" value="{f:uri.image(image: image, cropVariant: dims.cropVariant, minWidth: dims.w, width: dims.w, height: dims.h)}"/>
            </f:if>
            <f:variable name="srcSet" value="{srcSet} {f:uri.image(image: image, cropVariant: dims.cropVariant, minWidth: dims.w, width: dims.w, height: dims.h)} {breakpoint}w,"/>
        </f:for>
        <img loading="lazy" style="{style}" src="{defaultSrc}" srcset="{srcSet}" {f:if(condition:additionalAttributes,then:additionalAttributes)} class="{f:if(condition:additionalClasses,then:additionalClasses)}">
    </f:if>

</fluid>
