<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
>
    <f:comment>
        item:{
            uid: number,
            title: string,
            layout: string,
            invertedClass: string
            description: string,
            imgConfig: fluidArray,
            imagePosition: string,
            imageLayout: string,
            image: FileReference,
            images: FileReference,
            link: integer,
            target: string
            date: integer
        }
    </f:comment>
    <f:asset.css identifier="atomic-12grid" href="EXT:plate_atomic_assets/Resources/Public/Styles/atomic-12grid.base.css" as="style" importance="100"/>
    <f:asset.css identifier="Atomic12GridMd" href="EXT:plate_atomic_assets/Resources/Public/Styles/atomic-12grid.md.css"/>

    <f:asset.script identifier="atomic-button" type="module" src="EXT:plate_atomic_assets/Resources/Public/Webcomponents/atomic-button.js" priority="1"/>
    <f:asset.script identifier="atomic-anim-fadein" type="module" src="EXT:plate_atomic_assets/Resources/Public/Webcomponents/atomic-anim-fadein.js" priority="1"/>
    <f:if condition="{item.imgConfig}">
        <f:variable name="imgConfig" value="{item.imgConfig}"/>
    </f:if>
    <f:variable name="headerLayout" value="{item.layout}"/>
    <f:if condition="{!headerLayout}">
        <f:variable name="headerLayout" value="2"/>
    </f:if>

    <f:variable name="colLeft" value="0"/>
    <f:variable name="colRight" value="12"/>
    <f:if condition="{item.images}">
        <f:variable name="colLeft" value="4"/>
        <f:variable name="colRight" value="8"/>
    </f:if>

    <f:if condition="!{imgConfig}">
        <f:variable name="imgConfig" value="{
            300:{w:400,cropVariant:'mobile'},
            400:{w:400,cropVariant:'mobile'},
            500:{w:500,cropVariant:'mobile'},
            600:{w:500,cropVariant:'mobile'},
            1000:{w:300,cropVariant:'default'},
            1200:{w:300,cropVariant:'default'},
            1400:{w:400,cropVariant:'default'},
            1600:{w:400,cropVariant:'default'}
        }"/>
    </f:if>
    <article id="article-{item.uid}" class="atomic-card atomic-card-horizontal">
        <f:if condition="{item.link}">
            <f:then>
                <a href="{item.link}" target="{f:if(condition: 'item.target',then:item.target,else:'_self')}" title="Go to page {item.title}">
                    <f:render section="Contents" arguments="{_all}"/>
                </a>
            </f:then>
            <f:else>
                <f:render section="Contents" arguments="{_all}"/>
            </f:else>
        </f:if>
    </article>


    <f:section name="Contents">
        <f:switch expression="{item.textBackground}">
            <f:case value="gray">
                <f:variable name="textFrameColor" value='background-color:var(--vars-color-gray,#333);'/>
            </f:case>
            <f:defaultCase>
                <f:variable name="textFrameColor" value='background-color:var(--vars-color-main,#333);'/>
            </f:defaultCase>
        </f:switch>
        <div class="a-flex::m-up contents {item.invertedClass} {f:if(condition:'{item.imagePosition}==\'right\'',then:'--reverse')}" style="{textFrameColor -> f:if(condition:'{item.textFillMode}==\'full\'')}">

            <f:variable name="textColWidth" value="6"/>
            <f:variable name="imageColWidth" value="6"/>
            <f:if condition="!{item.showImage}">
                <f:variable name="textColWidth" value="12"/>
            </f:if>

            <f:if condition="{item.images ->f:count()}  && {settings.hideImage} != 1">
                <div class="a-w-{imageColWidth}::md-up a-position::relative" style="min-height:100px">
                    <f:asset.script identifier="atomic-anim-fadein" type="module" src="EXT:plate_atomic_assets/Resources/Public/Webcomponents/atomic-anim-fadein.js" priority="1"/>
                    <atomic-anim-fadein class="anim-component ah-richtext" fadeIn inViewStart>

                        <f:render partial="LazyImage" arguments="{item:item.images.0,config:imgConfig,style:'position:absolute;object-fit:cover;width:100%;height:100%'}"/>
                    </atomic-anim-fadein>
                </div>
            </f:if>
            <f:if condition="{item.textFrameWidth} == 'ce-frame-default'">
                <f:variable name="textFrameStyle" value='max-width:100%; width:calc(var(--vars-content-width-default,86.875rem) / 2 - var(--vars-gap));'/>
            </f:if>
            <div class="a-w-{textColWidth}::md-up" style="{textFrameColor -> f:if(condition:'{item.textFillMode}==\'separated\'')}">
                <div class="text-inner-width" style="{textFrameStyle} {f:if(condition:'{item.imagePosition}==\'left\'',then:'margin-right:auto;',else:'margin-left:auto;')} {textFrameColor -> f:if(condition:'{item.textFillMode}==\'content-area\'')}">
                    <div class="text-inner-wrap" style="padding:var({item.textFrameMargin}) var(--vars-padding-horizontal,2rem);">
                        <atomic-anim-fadein class="anim-component ah-richtext" fadeInUp inViewStart style="--atomic-anim-fadein--range:100px" >
                            <f:if condition="{item.title}">
                                <div class="ah-richtext">
                                    <f:render
                                            partial="Header/Header"
                                            arguments="{
                                        header: '{item.title}',
                                        layout: item.layout,
                                        default: 3,
                                        additionalClasses: 'a-margin-bottom::none'
                                    }"
                                    />
                                </div>
                            </f:if>

                            <f:if condition="{item.date}">
                                <f:render
                                        partial="Date"
                                        arguments="{date:item.date,iconPath:'EXT:plate_ces/Resources/Public/'}"
                                />
                            </f:if>
                            <f:if condition="{item.description}">
                                <f:format.html>{item.description}</f:format.html>
                            </f:if>
                            <f:if condition="{item.showButton}">
                                <atomic-button>
                                    {f:if(condition: '{item.buttonName}', then:'{item.buttonName}',else:'Mehr')}
                                </atomic-button>
                            </f:if>
                        </atomic-anim-fadein>

                    </div>
                </div>


            </div>
        </div>
    </f:section>
</fluid>
