<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
>
    <f:layout name="Default"/>

    <f:section name="Main">
        <f:switch expression="{item.textBackground}">
            <f:case value="gray">
            </f:case>
            <f:defaultCase>
                <f:variable name="invertedClass" value='vars-inverted'/>
            </f:defaultCase>
        </f:switch>
        <f:variable name="imgConfig" value="{
            300:{w:300,cropVariant:'mobile'},
            400:{w:400,cropVariant:'mobile'},
            500:{w:450,cropVariant:'mobile'},
            600:{w:550,cropVariant:'mobile'},
            1000:{w:300,cropVariant:'default'},
            1200:{w:600,cropVariant:'default'},
            1400:{w:700,cropVariant:'default'},
            1600:{w:900,cropVariant:'default'}
        }"/>

        <f:variable name="item" value="{
            uid:'{data.uid}',
            description:'{data.bodytext}',
            textBackground: '{textBackground}',
            invertedClass: '{invertedClass}',
            textFrameWidth: '{textFrameWidth}',
            textFrameMargin: '{textFrameMargin}',
            textFillMode: '{textFillMode}',
            atomicAssets: '{atomicAssets}',
            asssetPath: '{plateCesPathAssets}',
            images:'{images}',
            imagePosition: '{imagePosition}',
            imageLayout: '{imageLayout}',
            showImage:1,
            CType: '{data.CType}'
        }"/>
        <f:render partial="Molecules/Cards/Horizontal/Horizontal" arguments="{item:item,settings:settings,imgConfig:imgConfig}"/>
    </f:section>
</fluid>