<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
>
    <f:layout name="Default"/>

    <f:section name="Main">
        <f:asset.css identifier="plateCesImageSlideStyle" href="{cesAssets}/Styles/ImageSlide/ImageSlide.css"/>
        <f:variable name="item" value="{
            uid:'{data.uid}',
            bodytext:'{data.bodytext}',
            textLayout: '{textLayout}',
            text-frame-margin: '{flexform.settings.text-frame-margin}',
            textalign-horizontal: '{flexform.settings.textalign-horizontal}',
            textalign-vertical: '{flexform.settings.textalign-vertical}',
            text-frame-width: '{flexform.settings.text-frame-width}',
            assetPath: '{cesAssets}',
            atomicAssets: '{atomicAssets}',
            image:'{images.0}',
            showText:1
        }"/>
        <f:render partial="Slides/ImageSlide" arguments="{item:item}"/>
    </f:section>
</fluid>