
.image-slide{
    --atomic-overlay--background: var(--vars-color-bg-rgb);

}

.image-slide-anim::part(figcaption){
    --animate-duration:1s;
    --animate-repeat:1;
    animation-play-state:initial;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.image-slide-anim.--fade-in.--begin image-slide-anim::part(figcaption){
    animation-name: fadeIn;
}

.vars-black atomic-overlay{
    --atomic-overlay--background: var(--vars-color-main);
}
