<fluid
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
>
    <f:layout name="Default"/>

    <f:section name="Main">
        <f:asset.script identifier="atomic-cookie-consent" type="module" src="{atomicAssets}Webcomponents/atomic-cookie-consent.js"/>
        <atomic-cookie-consent valuesHTMLencoded identifier="googlemaps" contentName="Google Maps" contentProtector="Google" linkPrivacyPolicy="https://policies.google.com/privacy">
            <script type="text/x-gdpr-protected">
                <iframe src="{flexform.settings.map-iframe}" width="100%" height="{mapHeight}px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </script>
        </atomic-cookie-consent>
        <f:if condition="{data.bodytext}">
            <div class="a-padding" style="padding-bottom:0;">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>

        <f:if condition="{flexform.settings.active}">
            <div class="{flexform.settings.align} ">
                <f:asset.script identifier="atomic-button" type="module" src="{atomicAssets}Webcomponents/atomic-button.js"/>
                <atomic-button {flexform.settings.layout} class="a-margin-top"
                              style="{f:if(condition:flexform.settings.minwidth,then:'min-width:{flexform.settings.minwidth}px; text-align:center;')}">
                    <f:link.typolink parameter="{flexform.settings.link}"
                                     class="{f:if(condition:flexform.settings.minwidth,then:'a-text-align::center a-display::block a-width::100%')}"
                                     target="{item.target}" title="{flexform.settings.label}">
                        {f:if(condition: '{flexform.settings.label}', then:'{flexform.settings.label}',else:'Mehr')}
                    </f:link.typolink>
                </atomic-button>
            </div>
        </f:if>


    </f:section>


</fluid>

